.pandacode {
    display: inline-block;
    border: solid #e0e0e0 1px;
    border-radius: 4pt;
    padding: 8pt;
    margin-top: -3pt;
    margin-left: 6pt;
    margin-right: 30pt;
}

pre {
    background-color: #272822;
    color: #F8F8F2;
}