.pandacode {
    font-family: Menlo, Consolas, Andale Mono, sans-serif;
    font-size: 10pt;
    white-space: pre;
    background: white;
}

.pandacode .comment {
    color: #A0A0A0;
    font-style: italic;
}

.pandacode .annotation, .label {
    color: #D6C2FF;
    font-style: italic;
}

.pandacode .control, .method, .class, .var, .operator, .NEW, .DOT, .ATRETURN, .PACKAGE {
    color: #C80000;
}

.pandacode .methodName {
    color: #00A200;
}

.pandacode .type {
    color: #3389DF;
}

.pandacode .literal {
    color: #9E61CF;
}

.pandacode .STRING {
    color: #3040E0;
}

.pandacode .parameterName {
    color: #FD971F;
}