/* Inspired by the Monokai theme, 
        http://www.monokai.nl/blog/2006/07/15/textmate-color-theme/ */

body {
    font-family: Andale Mono, sans-serif;
    font-size: 11pt;
    background-color: #272822;
    color: #F8F8F2;
}

.comment {
    color: #75715E;
}

.annotation {
    color: #A5A19E;
}

.control, .method, .class, .var, .operator, .NEW {
    color: #F92672;
}

.methodName {
    color: #A6E22E;
}

.type {
    color: #66D9EF;
}

.literal {
    color: #AE81FF;
}

.STRING {
    color: #E6DB74;
}

.parameterName {
    color: #FD971F;
}
